@font-face {
    font-family: "shadows_into_light";
    src: url(Fonts/ShadowsIntoLight-Regular.woff);
    src: url(Fonts/ShadowsIntoLight-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}


*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {    
    background-image: url("Images/DJI_0275.JPG");
    background-size: cover;
    background-position: left;
    width: 35vw;
    overflow: hidden;    
    border: solid 1px black;  /*DELETE LATER*/
}

.left-logo {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 30vh;
    background-color: rgba(211, 211, 211, 0.3);
    font-family: "shadows_into_light", 'Courier New', Courier, monospace;
    font-size: 7vh;
}

.left-logo .drone {
    height: 12vh;
}

.right {
    display: flex;
    flex-direction: column;    
    width: 65vw;
    height: 100vh;
    border: solid 1px rgb(0, 141, 184); /*DELETE LATER*/
}

.right-center,
.right-bottom,
.right-top {    
    padding-left: 90px;
    overflow: hidden;
}

.right-top {
    height: 30vh;
    background-color: rgb(245, 245, 245);
}

.right-center {
    flex-shrink: 0;
    color: #00406b;    
    flex-basis: 350px;
    font-family: 'Courier New', Courier, monospace;    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    border-top: solid 1px rgba(0, 0, 0, 0.25); 
    padding: 25px 0 25px 90px;   
    margin-bottom: 10px;
}

.right-center h2 {
    margin-left: 0px;
}

.right-center form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.right-center label {     
    height: 1em;
    font-size: 13px;
    width: 10vw;
    display: block;   
    margin-bottom: 5px; 
}

.right-center input {
    width: 10vw;
    padding: 5px;
    border: solid 1px black;
}

.right-center p {
    margin-top: 2vh;
    font-size: 12px;
}

.right-bottom {
    flex-grow: 1;
    height: auto;
    background-color: rgb(245, 245, 245);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-bottom button {
    padding: 13px 40px;
    margin-bottom: 25px;
    margin-top: 10px;
    color: white;
    font-family: inherit;
    font-size: 16px;
    background-color: #0086bb;
    box-shadow: none;
    border: 1px solid rgb(0, 60, 129);
    border-radius: 10px;
}

.right-bottom button:hover {
    background-color: #006b96;
    cursor: pointer;
}

.right-bottom p {
    font-size: 12px;
}

.right-bottom p a {
    text-decoration: none;
    color: #00406b;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
    margin-top: 2vh;
}

.right-center input:invalid {
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px red;
}

.right-center input:required:valid {
    border: solid 1px #1574b8;
}